<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Concurrency control</title>
    <link href="{{url_for('static', filename='css/semantic_ui/semantic.min.css')}}" rel="stylesheet">
</head>
<body>

<div class="ui container center aligned">
    <h2 class="ui icon header">
        <i class="settings icon"></i>
        <div class="content">
            Concurrency control
        </div>
    </h2>
</div>

<div class="ui divider"></div>

<div class="ui compact segment" id="example1" style="margin: 1rem 5rem;">

    <div class="right ui rail" style="margin:0;padding:0 0 0 1rem">
        <div class="ui sticky">
            <div class="ui divided items">
                <div class="item">
                    <table class="ui celled structured collapsing table">
                        <thead>
                        <tr>
                            <th colspan="2">Fila de Ações</th>
                        </tr>
                        <tr>
                            <th>Transação</th>
                            <th>Ação</th>
                        </tr>
                        </thead>
                        <tbody id="fila">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="ui form">
        <div class="ui container">
            <div class="ui grid">
                <div class="five column row">
                    <div class="column">
                        <div class="field">
                            <button class="ui green button" id="new_transaction">
                                <i class="add icon"></i>Nova Transação
                            </button>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="ui selection dropdown">
                                <input type="hidden" name="transaction" id="transaction" required>
                                <i class="dropdown icon"></i>
                                <div class="default text">Transação</div>
                                <div class="menu" id="menu_transaction">
                                    <!--                                <div class="item" data-value="t1">T1</div>-->
                                    <!--                                <div class="item" data-value="t2">T2</div>-->
                                    <!--                                <div class="item" data-value="t2">T3</div>-->
                                </div>
                            </div>
                            <label>Transação</label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="ui selection dropdown">
                                <input type="hidden" name="action" id="action" required>
                                <i class="dropdown icon"></i>
                                <div class="default text">Ações</div>
                                <div class="menu">
                                    <div class="item" data-value="read_lock">Read Lock</div>
                                    <div class="item" data-value="read_item">Read Item</div>
                                    <div class="item" data-value="write_lock">Write Lock</div>
                                    <div class="item" data-value="write_item">Write Item</div>
                                    <div class="item" data-value="unlock">Unlock</div>
                                </div>
                            </div>
                            <label>Ações</label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <div class="ui selection dropdown">
                                <input type="hidden" name="item" id="item" required>
                                <i class="dropdown icon"></i>
                                <div class="default text">Item de Dado</div>
                                <div class="menu" id="menu_item">
                                    <!--                                <div class="item" data-value="x">X</div>-->
                                    <!--                                <div class="item" data-value="y">Y</div>-->
                                    <!--                                <div class="item" data-value="z">Z</div>-->
                                </div>
                            </div>
                            <label for="item">Item de Dado</label>
                        </div>
                    </div>
                    <div class="column">
                        <div class="field">
                            <button class="ui blue button" id="btnAdicionarAcao"><i class="play icon"></i>Adicionar
                                Ação
                            </button>
                        </div>
                    </div>
                </div>

                <div class="column row center aligned">
                    <div class="column">
                        <div class="field">
                            <button class="ui green button" id="btnIniciar"><i class="play icon"></i>Iniciar
                                Transações
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui grid">
                <div class="column row">
                    <div class="column">
                        <table class="ui very basic collapsing table">
                            <thead>
                            <tr id="coluna"></tr>
                            </thead>
                            <tbody>
                            <tr id="linha"></tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="column row right aligned">
                    <div class="column">
                        <div class="field">
                            <button class="ui yellow button" id="btnResolverImpasse">
                                <i class="exclamation triangle icon"></i>Resolver Impasse
                            </button>
                        </div>
                    </div>
                </div>

<!--                <div class="column row">-->
<!--                    <div class="column">-->
<!--                        <div class="ui indicating progress" data-value="1" data-total="3" id="progresso">-->
<!--                            <div class="bar"></div>-->
<!--                            <div class="label">Funding</div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                <div class="column row">
                    <div class="column">
                        <div class="field">
                            <label>Log</label>
                            <textarea name="log" id="log" readonly></textarea>
                        </div>
                    </div>
                </div>

                <div class="column row center aligned">
                    <div class="column">
                        <div class="ui warning message" id="erro">
                            <i class="close icon"></i>
                            <div class="header">
                                Campos Vazios!
                            </div>
                            Informe todos os campos solicitados
                        </div>
                    </div>
                </div>

                <div class="column row center aligned">
                    <div class="column">
                        <div class="ui success message" id="sucesso">
                            <i class="close icon"></i>
                            <div class="header">
                                Nova Transação
                            </div>
                            Transação <strong id="name_new_transation"></strong> criada!
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="ui modal" id="value_item">
    <div class="header" id="header">Write Item</div>
    <div class="content">

        <div class="ui form center aligned">
            <div class="four fields">
                <div class="field">
                    <div class="ui input">
                        <input type="text" id="selected_item" placeholder="Item Selecionado" readonly>
                    </div>
                    <label for="selected_item">Item Selecionado</label>
                </div>
                <div class="field">
                    <div class="ui input">
                        <div class="ui selection dropdown">
                            <input type="hidden" name="value1" id="value1">
                            <i class="dropdown icon"></i>
                            <div class="default text">Valor 1</div>
                            <div class="menu" id="menu_value1">
                            </div>
                        </div>
                        <!--                        <input type="number" id="value1" placeholder="Valor 1">-->
                    </div>
                    <label for="value1">Valor 1</label>
                </div>

                <div class="field">
                    <div class="ui selection dropdown">
                        <input type="hidden" name="operator" id="operator">
                        <i class="dropdown icon"></i>
                        <div class="default text">Operador Aritmético</div>
                        <div class="menu">
                            <div class="item" data-value="+">+</div>
                            <div class="item" data-value="-">-</div>
                            <div class="item" data-value="*">x</div>
                            <div class="item" data-value="/">÷</div>
                        </div>
                    </div>
                    <label for="operator">Operador Aritmético</label>
                </div>
                <div class="field">
                    <div class="ui input">
                        <div class="ui selection dropdown">
                            <input type="hidden" name="value2" id="value2">
                            <i class="dropdown icon"></i>
                            <div class="default text">Valor 2</div>
                            <div class="menu" id="menu_value2">
                            </div>
                        </div>
                        <!--                        <input type="number" id="value2" placeholder="Valor 2">-->
                    </div>
                    <label for="value2">Valor 2</label>
                </div>
            </div>
        </div>

    </div>
    <div class="actions">
        <div class="ui green approve icon button" id="btnCheck"><i class="ui check icon"></i></div>
        <div class="ui red cancel icon button"><i class="ui x icon icon"></i></div>
    </div>
</div>

</body>

<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='css/semantic_ui/semantic.min.js')}}"></script>
<script src="{{url_for('static', filename='js/init.js')}}"></script>

</html>